+b.SECTION.first 
    .container 
        +e.H1.title СПОСОБЫ ЗАЩИТЫ ПРАВ ПОТРЕБИТЕЛЕЙ
        +e.text Обращайтесь прямо сейчас и специалист проконсультирует вас бесплатно!
        +e.row
            +e.UL.list
                li
                    b Поможем вернуть деньги
                    | - за некачественный товар или услугу.
                li
                    b Добьемся возмещения ущерба 
                    | — за вред здоровью, жизни или имуществу с физических, юридических лиц, госорганов.
                li 
                    b Добьемся бесплатного устранения недостатков 
                    | — товаров, услуг, работ.
                li 
                    b Взыщем неустойку 
                    | — за несвоевременное или ненадлежащее оказание услуг (работ).
                li 
                    b Добьемся уменьшения цены
                    | — за уже оплаченные вами товары или услуги.
                li 
                    b Поможем сделать перерасчет пенсии 
                    | — в сторону ее увеличения!
            +e.form
                +b.FORM.form(action="#")
                    +e.title Оставьте заявку <br>на 
                        span бесплатную консультацию <br>
                        |  с юристом
                    input(name="tel" type="text" placeholder="+7(ХХХ)-ХХХ-ХХ-ХХ")
                    textarea(name="comment", cols="30", rows="6", placeholder="Опишите ваш  вопрос")
                    button(type="submit") ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
                    p Гарантия конфиденциальности в соответствии с Федеральным законом РФ от 27.07.2006 г. № 152 «О персональных данных» Нажимая на кнопку, даю согласие на обработку персональных данных
            +e.imgs
                img(src="./assets/imgs/list1.png", alt="item")
                img(src="./assets/imgs/list2.png", alt="item")
                img(src="./assets/imgs/list3.png", alt="item")        
.container
    +b.time Работаем для вас каждый будний день — с 9 до 18 часов!



