+b.FOOTER.footer
    +e.top
        .container Проект реализован в рамках ФЕДЕРАЛЬНОГО ЗАКОНА РОССИЙСКОЙ ФЕДЕРАЦИИ от 21 ноября 2011г. №324 ФЗ "О бесплатной юридической помощи в Российской Федерации" (Принят Государственной Думой2 ноября 2011 года и одобрен Советом Федерации 9 ноября 2011 года)
    .container    
        +e.bottom 
            p Политика конфиденциальности                
            a(href="tel: 88004543433") 8 800 454 34 33
            +e.imgs
                img(src="./assets/imgs/list2.png", alt="item")
                img(src="./assets/imgs/list1.png", alt="item")
                img(src="./assets/imgs/list3.png", alt="item") 
+b.header.under 
    +e.number
        span Все регионы России!
        a(href="tel:880044533434") 8 800 4453 34 34 
    +e.BUTTON.btn.js-open ЗАКАЗАТЬ ЗВОНОК                 