.fourth.container
    .fourth__title 
        span.f Оставьте ваше обращение  
        | или перезвоните по телефону 
        span.s 8 800 454 34 34 <br>
        | прямо сейчас!
    +b.FORM.form.form--fourth(action="#")
        +e.title-sm Бесплатная консультация
        +e.title 
            span Оставьте ваше обращение
            | или перезвоните по телефону  
            span 8 800 454 34 34 
            | прямо сейчас!
        input(name="tel" type="tel" placeholder="+7(ХХХ)-ХХХ-ХХ-ХХ")
        textarea(name="comment", placeholder="Опишите вашу проблему")
        button(type="submit") ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
        p Гарантия конфиденциальности в соответствии с Федеральным законом РФ от 27.07.2006 г. № 152 «О персональных данных» Нажимая на кнопку, даю согласие на обработку персональных данных
