+b.header.under.top.hidden
    +e.number
        span Все регионы России!
        a(href="tel:880044533434") 8 800 4453 34 34 
    +e.BUTTON.btn.js-open ЗАКАЗАТЬ ЗВОНОК   
+b.HEADER.header
    .container
        +e.logo
            img(src="./assets/imgs/logo.svg", alt="logo")
            span.text
                b СЛУГА ЗАКОНА
                span Юридическая компания
        +e.text На страже ваших законных интересов!
        +e.number
            span Все регионы России!
            a(href="tel:880044533434") 8 800 4453 34 34 
        +e.BUTTON.btn.js-open ЗАКАЗАТЬ ЗВОНОК    