+b.modal
    +b.FORM.form.form--modal(action="#")
        span.close.js-close +
        +e.title-sm Заказать бесплатный звонок
        +e.title Заказать звонок
        input(name="tel" type="tel" placeholder="+7(ХХХ)-ХХХ-ХХ-ХХ")
        textarea(name="comment", placeholder="Опишите ваш  вопрос")
        button(type="submit") Заказать 
            span обратный
            |  звонок
        p Гарантия конфиденциальности в соответствии с Федеральным законом РФ от 27.07.2006 г. № 152 «О персональных данных» Нажимая на кнопку, даю согласие на обработку персональных данных
