+b.SECTION.second
    .container 
        +e.H2.title Восстанавливаем справедливость в рамках правового поля РФ!
        +e.row
            mixin second(args={}) 
                +b.second-item 
                    +e.img 
                        img(src=args.img, alt=args.title) 
                    +e.title!=args.title 
                    +e.text=args.text 
            +second({
                img: './assets/imgs/icon1.png',
                title: 'Защищаем права <br>потребителей!',
                text: 'Возвращаем деньги, добиваемся компенсаций морального ущерба, по закону наказываем продавцов некачественных товаров и услуг.'
            }) 
            +second({
                img: './assets/imgs/icon2.png',
                title: 'Расторгаем навязанные кредитные <br>или страховые договора!',
                text: 'Оказываем помощь в полном освобождении вас от мошеннических договоров кредитования, помогаем вернуть вам выплаченные мошенникам деньги.'
            })   
            +second({
                img: './assets/imgs/icon3.png',
                title: 'Помогаем отказаться от оплаты навязанных <br>и/или некачественно выполненных услуг!',
                text: 'Добиваемся одностороннего расторжения договоров, а также возмещения вам материального и морального ущерба, возникших в следствие навязанной вам или некачественно оказанной услуги'
            }) 
            +second({
                img: './assets/imgs/icon4.png',
                title: 'Помогаем пострадавшим от брокерских <br>компаний и финансовых пирамид!',
                text: 'Оказываем помощь в возврате денег, а также помогаем взыскать моральный ущерб.'
            }) 
            +second({
                img: './assets/imgs/icon5.png',
                title: 'Защищаем права <br>автовладельцев!',
                text: 'Оказываем помощь в спорах при ДТП, оспариваем незаконные действия работников ГИБДД, добиваемся аннулирования неправильно выписанных штрафов.'
            }) 
            +second({
                img: './assets/imgs/icon6.png',
                title: 'Защищаем права <br>дольщиков!',
                text: 'Решаем любые проблемы на любом этапе, возникающие у участников долевого строительства.'
            }) 
            +second({
                img: './assets/imgs/icon7.png',
                title: 'Помогаем взыскать компенсации <br>за некачественные товары!.',
                text: 'Оказываем весь спектр юридической досудебной и судебной помощи. Добиваемся взыскания материального и морального ущерба'
            }) 
            +second({
                img: './assets/imgs/icon8.png',
                title: 'Помогаем правильно расторгнуть <br>договора в одностороннем порядке!',
                text: 'Работаем со всеми видами договоров: медицинскими, банковскими, кредитными и т.д.'
            }) 
                    