+b.SECTION.third 
    .container 
        +e.row 
            +e.col
                img(src="./assets/imgs/check2.svg", alt="check")
                +e.H2.title Как мы работаем
            +e.OL.list
                mixin li(args={}) 
                    li 
                        span.num=args.num 
                        span.text!=args.text 
                +li({
                    num: '01',
                    text: 'Заполняете <br>форму обращения.'
                })  
                +li({
                    num: '02',
                    text: 'В пределах 5 минут наш специалист <br>связывается с вами и уточняет детали.'
                })
                +li({
                    num: '03',
                    text: 'Назначаем консультацию в удобное для <br>вас время со специалистом в той отрасли <br>права, в которой нарушены ваши права.'
                })
                +li({
                    num: '04',
                    text: 'Решаем вашу проблему <br>в полном объеме.'
                })
                +li({
                    num: '05',
                    text: 'Вы остаетесь довольны <br>результатом!'
                })            